<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>User details: {{user.name || "Loading..."}}</h1>
        <h2>
            Read the details of the user here.<br>
            To take action upon the user (view additional details or edit it), simply navigate to Actions and choose a link there.
        </h2>
    </div>
    <div class="actions-dashboard">
        <h2>Actions</h2>
        <ul class="list-actions">
            <li>
                <a [routerLink]="['update']">Update user information</a>
            </li>
            <li>
                <a [routerLink]="['ideas']">List user's ideas</a>
            </li>
            <li>
                <a [routerLink]="['connections']">List user's connections</a>
            </li>
            <li>
                <a [routerLink]="['requests']">List user's connection requests</a>
            </li>
        </ul>
    </div>
    <div class="details-dashboard">
        <h2>User information</h2>
        <div class="body-dashboard">
            <div class="pic-col-details">
                <img [src]="user.profilePic">
                <p>
                    <strong>Preferred categories:</strong><br>
                    {{(preferredCategories.length === 0) ? 
                        "Loading..." : 
                        preferredCategories.join(", ")}}
                </p>
            </div>
            <div class="info-col-details">
                <div class="info-wrapper basic-info-details">
                    <h3>Basic information</h3>
                    <p>
                        <strong>Name:</strong> {{user.name}}
                    </p>
                    <p>
                        <strong>Email:</strong> {{user.username}}
                    </p>
                    <p>
                        <strong>Role:</strong> {{user.role}}
                    </p>
                    <p>
                        <strong>Biography:</strong> {{user.bio}}
                    </p>
                </div>
                <div class="info-wrapper other-info-details">
                    <h3>Other information</h3>
                    <p>
                        <strong>Date of birth:</strong> {{user.dateOfBirth.toDateString()}}
                    </p>
                    <p>
                        <strong>Created at:</strong> {{user.createdAt.toString()}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>