<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>List of Users</h1>
        <h2>Click on a user's name to read and edit their profile. Click the checkboxes to select multiple users and delete them.</h2>
    </div>

    <div class="body-dashboard">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Last activity</th>
                    <th>Last created at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aaron Patterson</td>
                    <td>apatterson0@merriam-webster.com</td>
                    <td>Reported a user</td>
                    <td>10/27/2016</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>