<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>List of Users</h1>
        <h2>Click on a user's name to read and edit their data. <br>
            Click the checkboxes to select multiple users and delete them.<br>
            <strong>NOTE:</strong> If you delete a user, their data (ideas, likes, comments, etc.) will be deleted.<br>
            You can also search for a user. Empty the box and press Enter to view the complete list again.</h2>
    </div>

    <div class="panel-dashboard">
        <a routerLink="/users/create" class="btn-create">Create user</a>
        <a (click)="deleteSelectedUsers()" class="btn-delete">Delete user(s)</a>
        <input #searchUser type="text"
            name="search-user" 
            class="search-panel"
            placeholder="Search user and press Enter."
            (keyup.enter)="search(searchUser.value)">
    </div>

    <div class="body-dashboard">
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox"
                            class="cb-toggle-all" 
                            [checked]="toggleAll"
                            (change)="toggleAllUsers()">
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Biography</th>
                    <th>Last created at</th>
                </tr>
            </thead>
            <tbody *ngIf="list.length <= 0">
                <tr>
                    <td class="table-message" colspan="5">
                        {{message || "Loading..."}}
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="list.length > 0">
                <tr *ngFor="let user of list">
                    <td>
                        <input type="checkbox" 
                            class="cb-select"
                            [(ngModel)]="user.selected"
                            (change)="cancelToggleAll()">
                    </td>
                    <td>
                        <a [routerLink]="[user.id]">
                            {{user.name}}
                        </a>
                    </td>
                    <td>
                        <a href="mailto:{{user.username}}">
                            {{user.username}}
                        </a>
                    </td>
                    <td>{{user.bio || "No bio found."}}</td>
                    <td>{{user.createdAt.toDateString()}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>