<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>List of Ideas</h1>
        <h2>Click on a idea's name to read and edit their profile.<br>
            Click the checkboxes to select multiple ideas and delete them.<br>
            You can also search for a idea. Empty the box and press Enter to view the complete list again.</h2>
    </div>

    <div class="panel-dashboard">
        <a routerLink="/ideas/create" class="btn-create">Create idea</a>
        <a (click)="deleteSelectedIdeas()" class="btn-delete">Delete idea(s)</a>
        <input #searchIdea type="text"
            name="search-idea"
            class="search-panel"
            placeholder="Search idea title and press Enter."
            (keyup.enter)="search(searchIdea.value)">
    </div>

    <div class="body-dashboard">
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox"
                            class="cb-toggle-all"
                            [checked]="toggleAll"
                            (change)="toggleAllIdeas()">
                    </th>
                    <th>Idea title</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Last modified at</th>
                </tr>
            </thead>
            <tbody *ngIf="list.length <= 0">
                <tr>
                    <td class="table-message" colspan="5">
                        {{message || "Loading..."}}
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="list.length > 0">
                <tr *ngFor="let idea of list">
                    <td>
                        <input type="checkbox" 
                            class="cb-select"
                            [(ngModel)]="idea.selected"
                            (change)="cancelToggleAll()">
                    </td>
                    <td>
                        <a [routerLink]="['update', idea.id]">
                            {{idea.title}}
                        </a>
                    </td>
                    <td>{{idea.description}}</td>
                    <td>
                        <a href="mailto:{{idea.author}}">
                            {{idea.author}}
                        </a>
                    </td>
                    <td>{{idea.lastChanged}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>