.lh-footer {
    width: 100%;
    height: 30px;

    background-color: #223962;
    color: #fff;

    font-size: 10pt;
    text-align: center;
    overflow: hidden;
}

.lh-footer p {
    margin-top: 6px;
}