<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>Report Details</h1>
        <h2>
            Read the description below, and take action for the problems stated within.<br>
            After that, reply to this report, about how you solved those problems.<br>
            The reply will be directly sent to the user's email.
        </h2>
    </div>

    <div class="body-dashboard">
        <p>
            <strong>Title: </strong> {{ report.title }}
        </p>
        <p>
            <strong>Reporter: </strong> {{ author }}
        </p>
        <p>
            <strong>Report type (User or Idea): </strong> {{ report.type }}
        </p>
        <p>
            <strong>User's message:</strong><br>
            {{ report.message }}
        </p>
        <p>
            <strong>Administrator's reply:</strong><br>
            {{ report.reply === "" ? "No reply has been sent yet." : report.reply }}
        </p>
        <p>
            <strong>Solved: </strong> {{ report.solved ? "Already solved." : "Not solved yet." }}
        </p>
    </div>

    <a class="button-reply" [routerLink]="['reply']">Reply to report</a>
</div>