<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>Deactivate a user: {{name || "Loading..."}}</h1>
        <h2>
            <strong>NOTE:</strong> You are working on a critical action. <strong>Please do this carefully.</strong><br>
            In the following form, write a message to the user, explaining why they should be deactivated.<br>
            After you submit it, an email will be sent to the user, and they will no longer be able to login.<br>
        </h2>
    </div>
</div>