<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>Dashboard</h1>
        <h2>View recent users, ideas, and reports.</h2>
    </div>

    <div class="info-dashboard">
        <div class="info-group">
            <div class="info-col-1 user-info">
                <div class="pic-info">
                    <i class="fa fa-user fa-5x"></i>
                    <h3>User info</h3>
                </div>
                <div class="stat-info">
                    <p><span class="activity-stat">{{ userActivity < 0 ? "ERR" : userActivity }}</span> user activities</p>
                    <p><span class="total-stat">{{ totalUsers < 0 ? "ERR" : totalUsers }}</span> total users</p>
                </div>
            </div>

            <div class="info-col-1 idea-info">
                <div class="pic-info">
                    <i class="fa fa-lightbulb-o fa-5x"></i>
                    <h3>Idea info</h3>
                </div>
                <div class="stat-info">
                    <p><span class="activity-stat">{{ ideasToday < 0 ? "ERR" : ideasToday }}</span> ideas today</p>
                    <p><span class="total-stat">{{ totalIdeas < 0 ? "ERR" : totalIdeas }}</span> total ideas</p>
                </div>
            </div> 
        </div>

        <div class="info-group">
            <div class="info-col-2 reports-info">
                <div class="heading-info">
                    <h3><i class="fa fa-files-o"></i> Recent Reports</h3>
                </div>

                <div class="table-info">
                    <table>
                        <thead>
                            <tr>
                                <th>Report title</th>
                                <th>User / reporter</th>
                                <th>Last submitted at</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="reportsList.length <= 0">
                            <tr>
                                <td class="table-message" colspan="3">
                                    {{ message || "Loading..." }}
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="reportsList.length > 0">
                            <tr *ngFor="let report of reportsList">
                                <td>{{ report.title }}</td>
                                <td>{{ report.author }}</td>
                                <td>{{ report.createdAt.toDateString() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>