<div class="login">
    <div class="login-left half">
        <img src="http://res.cloudinary.com/baskoroi/image/upload/v1477821375/lighthauz-logo.small_bpotsx.png" alt="Lighthauz: Connecting the Unconnected" class="login-pic">
    </div>
    <div class="login-right half">
        <h1>Enter as Admin</h1>
        <form name="form" class="login-form" accept-charset="utf-8">
            <input type="text" name="username" class="txt-login" placeholder="Username">
            <input type="password" name="password" class="txt-login" placeholder="Password">
            <input type="submit" class="btn-login" value="Login">
        </form>
    </div>
</div>
<div class="clearfix"></div>