<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>Create a user</h1>
        <h2>
            <strong>NOTE:</strong> Creating a user is for development purposes or other urgent matters. So use with care.
            <br>
            Enter the details below to create a new user. Fields marked with (*) are <strong>required.</strong>
        </h2>
    </div>

    <div class="form-wrapper-dashboard">
        <form class="form-dashboard form-user" (ngSubmit)="onSubmitUser()" #userForm="ngForm">

            <div class="form-group">
                <div class="form-col-2">
                    <label for="fullName">Full name: (*)</label>
                    <input type="text" name="fullName" [(ngModel)]="user.name" required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-col-2">
                    <label for="email">Email - must be a valid email format: (*)</label>
                    <input type="email" name="email" [(ngModel)]="user.username" required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-col-2">
                    <label for="password">Password: (*)</label>
                    <input type="password" name="password" [(ngModel)]="user.password" required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-col-2">
                    <label for="repeatPassword">Repeat password: (*)</label>
                    <input type="password" name="repeatPassword" [(ngModel)]="repeatPassword" required>
                </div>
            </div>

            <div class="form-group">
                <div class="form-col-2">
                    <label for="dateOfBirth">Date of birth: (*)</label>
                    <input type="date" name="dateOfBirth" [(ngModel)]="user.dateOfBirth" required> 
                </div>
            </div>

            <div class="form-group">
                <div class="form-col-2">
                    <label for="bio">Short bio that describes user: (optional)</label>
                    <input type="text" name="bio" [(ngModel)]="user.bio">
                </div>
            </div>

            <div class="form-group">
                <div class="form-col-1">
                    <label for="profilePic">Profile picture: (optional)</label>
                    <input type="file" name="profilePic" (change)="fileChangeEvent($event)">
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>