<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>User's connections: {{name || "Loading..."}}</h1>
        <h2>
            You can view the list of user's accepted connections here.<br>
            (Excluding the connection requests.)<br>
            To view connection requests, go back and click "List user's connection requests."
        </h2>
    </div>
    <div class="action-table-wrapper connections-wrapper">
        <table class="table-action">
            <thead>
                <tr>
                    <th>User's picture</th>
                    <th>User's name</th>
                    <th>Biography</th>
                    <th>Last connected at</th>
                </tr>
            </thead>
            <tbody *ngIf="connections.length === 0">
                <tr>
                    <td class="table-message" colspan="4">{{message}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="connections.length > 0">
                <tr *ngFor="let row of connections">
                    <td>
                        <img [src]="row.profilePic">
                    </td>
                    <td>
                        <a [routerLink]="['/users', row.id]">{{row.name}}</a>
                    </td>
                    <td>
                        {{(row.bio.length < 37) ?
                            row.bio :
                            (row.bio.slice(0, 37) + "...")}}
                    </td>
                    <td>
                        {{row.lastChanged.toDateString()}}<br>
                        {{row.lastChanged.toTimeString()}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>