<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>Idea details: {{idea.title || "Loading..."}}</h1>
        <h2>
            Read the details of the business idea here.<br>
            To take action upon the idea (view additional details or edit it), simply navigate to Actions and choose a link there.
        </h2>
    </div>

    <div class="actions-dashboard">
        <h2>Actions</h2>
        <ul class="list-actions">
            <li>
                <a [routerLink]="['update']">Update idea information</a>
            </li>
            <li>
                <a [routerLink]="['responses']">View likes and comments</a>
            </li>
            <li>
                <a [routerLink]="['partners']">View partners</a>
            </li>
        </ul>
    </div>

    <div class="details-dashboard">
        <h2>Business idea information</h2>
        <div class="body-dashboard">
            <div class="pic-col-details">
                <img [src]="idea.pic" alt="Idea picture">
                <p>
                    <strong>Category:</strong> {{idea.category || "Loading..."}}
                </p>
            </div>
            <div class="info-col-details">
                <div class="info-wrapper basic-info-details">
                    <h3>Basic information</h3>
                    <p>
                        <strong>Visibility:</strong> 
                        {{(idea.visibility === 0) ? 
                            "Not published" : 
                            (idea.visibility === 1) ? "Exclusive" : 
                                "Public"}}
                    </p>
                    <p>
                        <strong>Title:</strong> 
                        {{idea.title}}
                    </p>
                    <p>
                        <strong>Description:</strong> 
                        {{idea.description}}
                    </p>
                    <p>
                        <strong>Background:</strong> 
                        {{idea.background}}
                    </p>
                    <p>
                        <strong>Problem:</strong> 
                        {{idea.problem}}
                    </p>
                    <p>
                        <strong>Solution:</strong> 
                        {{idea.solution}}
                    </p>
                </div>
                <div class="info-wrapper extra-info-details">
                    <h3>Extra information:</h3>
                    <p>
                        <strong>Extra Link:</strong> 
                        <span *ngIf="idea.extraLink === ''">No extra link.</span>
                        <span *ngIf="idea.extraLink"><a [href]="idea.extraLink">{{idea.extraLink}}</a></span>
                    </p>
                </div>
                <div class="info-wrapper bmc-details">
                    <h3>Business model canvas:</h3>
                    <p>
                        <strong>Value Proposition:</strong> 
                        {{idea.valueProposition}}
                    </p>
                    <p>
                        <strong>Customer Segments:</strong> 
                        {{idea.customerSegments}}
                    </p>
                    <p>
                        <strong>Customer Relationship:</strong> 
                        {{idea.customerRelationships}}
                    </p>
                    <p>
                        <strong>Channels:</strong> 
                        {{idea.channels}}
                    </p>
                    <p>
                        <strong>Key Activities:</strong> 
                        {{idea.keyActivities}}
                    </p>
                    <p>
                        <strong>Key Resources:</strong> 
                        {{idea.keyResources}}
                    </p>
                    <p>
                        <strong>Key Partners:</strong> 
                        {{idea.keyPartners}}
                    </p>
                    <p>
                        <strong>Cost Structure:</strong> 
                        {{idea.costStructure}}
                    </p>
                    <p>
                        <strong>Revenue Streams:</strong> 
                        {{idea.revenueStreams}}
                    </p>
                </div>
                <div class="info-wrapper swot-details">
                    <h3>SWOT analysis:</h3>
                    <p>
                        <strong>Strengths:</strong> 
                        {{idea.strengths}}
                    </p>
                    <p>
                        <strong>Weaknesses:</strong> 
                        {{idea.weaknesses}}
                    </p>
                    <p>
                        <strong>Opportunities:</strong> 
                        {{idea.opportunities}}
                    </p>
                    <p>
                        <strong>Threats:</strong> 
                        {{idea.threats}}
                    </p>
                </div>
                <div class="info-wrapper other-info-details">
                    <h3>Other information</h3>
                    <p>
                        <strong>Author:</strong> 
                        (You can view their pic and more info by clicking their name)
                    </p>
                    <ul class="list-detail">
                        <li>Name: <a [routerLink]="['/users', author.id]">{{author.name}}</a></li>
                        <li>Email: <a href="mailto:{{author.username}}">{{author.username}}</a></li>
                        <li>Biography: {{author.bio}}</li>
                    </ul>
                    <p>
                        <strong>Last modified at:</strong> 
                        {{idea.lastChanged.toString()}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>