.actions-dashboard {
    margin-bottom: 20px;
}

.pic-col-details {
    float: right;
}

.pic-col-details,
.pic-col-details img {
    width: 260px;
}

.pic-col-details img {
    border: 1px solid #000;
}

.body-dashboard {
    overflow: hidden;
}

.info-wrapper {
    margin-bottom: 16px;
}

ul.list-detail {
    list-style-type: disc;
}