<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>Idea details: {{ idea.title || "Loading..." }}</h1>
        <h2>
            Read the details of the business idea here.<br>
            To take action upon the idea (view additional details or edit it), simply navigate to Actions and choose a link there.
        </h2>
    </div>

    <div class="actions-wrapper-dashboard">
        <div class="list-col-actions">
            <h2>Actions</h2>
            <ul class="list-actions">
                <li>
                    <a [routerLink]="['/ideas', 'update', idea.id]">Update idea information</a>
                </li>
            </ul>
        </div>
        <!-- TODO: insert picture into idea details div -->
        <div class="pic-col-actions">
            <img [src]="idea.picture">
        </div>
    </div>
</div>