<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>Re-activate a user: {{name || "Loading..."}}</h1>
        <h2>
            <strong>NOTE:</strong> You are working on a critical action. <strong>Please do this only if you have a strong reason.</strong><br>
            In the following form, write a message to the user, explaining why they should be activated again.<br>
            After you submit it, an email will be sent to the user, and they will be allowed to log in again.<br>
        </h2>
    </div>

    <div class="form-wrapper-dashboard">
        <form class="form-dashboard form-reactivate"
            (ngSubmit)="onSubmitReactivationRequest()"
            #reactivationForm="ngForm">

            <div class="form-group">
                <div class="form-col-2">
                    <label for="description">Message/reason: (*)</label>
                    <textarea name="description" [(ngModel)]="reason" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
            
        </form>
    </div>
</div>