<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>List of reports</h1>
        <h2>
            Following are the list of unsolved reports. Solved reports will not be shown here.<br>
            Click on the report's title to view its description. Click on the reporter's email to reply to their reports. You <strong>cannot</strong> delete reports.
        </h2>
    </div>
    <div class="body-dashboard">
        <table>
            <thead>
                <tr>
                    <th>Report title</th>
                    <th>Reporter's email</th>
                    <th>Last submitted at</th>
                </tr>
            </thead>
            <tbody *ngIf="list.length <= 0">
                <tr>
                    <td class="table-message" colspan="3">
                        {{ message || "Unknown error. Please refresh." }}
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="list.length > 0">
                <tr *ngFor="let report of list">
                    <td>
                        <a [routerLink]="['view', report.id]">
                            {{ report.title }}
                        </a>
                    </td>
                    <td>
                        <a href="mailto:{{report.author}}">
                            {{ report.author }}
                        </a>
                    </td>
                    <td>{{ report.createdAt.toDateString() }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>