<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>Edit user's connection requests</h1>
        <h2>
            You can view the user's connection requests here.<br>
            In case of trouble, you may remove a connection request here.
        </h2>
    </div>
    <div class="action-table-wrapper requests-wrapper">
        <h2>Requests sent by user</h2>
        <table class="table-action">
            <thead>
                <tr>
                    <th>User's picture</th>
                    <th>User's name</th>
                    <th>Biography</th>
                    <th>Last requested at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-message" colspan="4">{{requestsSentMessage}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>