<div class="content-dashboard">
    <div class="title-dashboard">
        <h1>View likes &amp; comments</h1>
        <h2>
            You can view who likes and comments on the idea in the tables below.
        </h2>
    </div>

    <div class="action-table-wrapper likes-wrapper">
        <h2>Likes</h2>
        <table class="table-action">
            <thead>
                <tr>
                    <th>User's picture</th>
                    <th>User's name</th>
                    <th class="timestamp-col">Last liked at</th>
                </tr>
            </thead>
            <tbody *ngIf="likes.length === 0">
                <tr>
                    <td class="table-message" colspan="3">{{likesMessage}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="likes.length > 0">
                <tr *ngFor="let row of likes">
                    <td>
                        <img [src]="row.user.profilePic">
                    </td>
                    <td>
                        <a [routerLink]="['/users', row.user.id]">
                            {{row.user.name}}
                        </a>
                    </td>
                    <td class="timestamp-col">
                        {{row.timestamp.toDateString()}}<br>
                        {{row.timestamp.toTimeString()}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="action-table-wrapper comments-wrapper">
        <h2>Comments</h2>
        <table class="table-action">
            <thead>
                <tr>
                    <th>User picture</th>
                    <th>User name</th>
                    <th>Comment</th>
                    <th class="timestamp-col">Last modified at</th>
                </tr>
            </thead>
            <tbody *ngIf="comments.length === 0">
                <tr>
                    <td colspan="4" class="table-message">{{commentsMessage}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="comments.length > 0">
                <tr *ngFor="let row of comments">
                    <td>
                        <img [src]="row.user.profilePic">
                    </td>
                    <td>
                        <a [routerLink]="['/users', row.user.id]">
                            {{row.user.name}}
                        </a>
                    </td>
                    <td>
                        {{row.comment.text}}
                    </td>
                    <td class="timestamp-col">
                        {{row.comment.timestamp.toDateString()}}<br>
                        {{row.comment.timestamp.toTimeString()}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>