.action-table-wrapper {
    margin-bottom: 20px;
}

.table-action {
    background-color: #fff;

    padding: 8px;
    min-width: 360px;

    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.55);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.55);

    text-align: left !important;
}

.table-action th,
.table-action td {
    padding: 4px 8px;
}

.table-action td img {
    width: 80px;
}

.table-action th:first-child,
.table-action td:first-child {
    text-align: center !important;
}

.timestamp-col {
    width: 200px;
}